{{#if wantMemo}}
import React, { memo } from 'react';
{{else}}
import React from 'react';
{{/if}}
{{#if wantHeaders}}
import { Helmet } from 'react-helmet-async';
{{/if}}
{{#if wantTranslations}}
import { useTranslation } from 'react-i18next';
{{/if}}
/* -------------------------------------------------------------------------- */

type {{ properCase ComponentName }}PageProps = {};


{{#if wantMemo}}
const {{ properCase ComponentName }}Page = memo((props: {{ properCase ComponentName }}PageProps) => {
{{else}}
export default function {{ properCase ComponentName }}Page(props: {{ properCase ComponentName }}PageProps) {
{{/if}}

{{#if wantTranslations}}
const { t } = useTranslation();
{{/if}}

return (
  {{#if wantHeaders}}
  <Helmet>
    {{#if wantTranslations}}
    <title>{t('{{properCase ComponentName}}Page.title')}</title>
    <meta name="description" content={t('{{properCase ComponentName}}Page.description')} />
    {{else}}
    <title>{{properCase ComponentName}}Page</title>
    <meta name="description" content="Description of {{properCase ComponentName}}Page" />
    {{/if}}
  </Helmet>
  {{else}}
    {{#if wantTranslations}}
    <div>{t('{{properCase ComponentName}}Page.title')}</div>
    {{else}}
    <div></div>
    {{/if}}
  {{/if}}
);

{{#if wantMemo}}
});

export default {{ properCase ComponentName }}Page
{{else}}
};
{{/if}}
